.wrapper {
  display: grid;
  grid-template-columns: auto 1fr; 
  grid-template-rows: 1fr auto auto; 
  width: 100%;
  height: 100%;

  &__toolBar {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    overflow-y: scroll;
    background-color: #212121;
    border-right: 1px solid #000000;
  }

  &__selectionBar {
    display: flex;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    overflow-x: hidden;  // Will never overflow.
    background-color: #212121;
    border-top: 1px solid #000000;

    > * {
      &:not(:last-child) {
        border-right: 1px solid #000000;
      }
    }
  }

  &__canvas {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    overflow: hidden;
    background-color: #212121;

    // div added by P5Wrapper.
    > div {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  &__footer {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    background-color: #007acc;
    color: #ffffff;
    padding: 0.25em 0.25em;
    text-align: center;

    &__closeButton {
      float: right;
      color: #ffffff;
    }

    &__message {

      span {
        &:not(:first-child)::before {
          content: '\2022';
          margin-right: 1.4em;
        }

        &:not(:last-child)::after {
          content: '';
          margin-right: 1.4em;
        }
      }

      a {
        color: #ffffff;
        text-decoration: underline;
      }
    }
  }
}

.instructions {
  position: absolute;
  top: 1.25em;
  right: 1.25em;

  &__closeButton {
    position: absolute;
    top: 0;
    right: 0;
    color: #e0e0e0;
    padding: 1.25em;
  }

  &__messageBox {
    padding: 0.25em 1.25em;  // More top and bottom padding from accordion.
    background-color: #212121;
    color: #e0e0e0;
    border: 1px solid #000000;
    border-radius: 6px;

    em {
      font-style: normal;
      color: #66d3ff;
    }
  }
}
