body {
  margin: 0;
  padding: 0;
  background-color: #404040;
}

#root {
  width: 100vw;
  height: 100vh;
}

.transparent-button {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
}
