@import 'imports.scss';

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #404040;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
  line-height: 1.6;
}

button {
  @extend %no-select;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}

.transparent-button {
  background: none;
  outline: none;
  border: none;
}

.divider {
  margin: 1.25em 0;
  border-top: 1px solid #505050;
}
