.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;

  &__content {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #181818;
    border: 2px solid #000000;

    width: calc(100vw - 4em);
    max-width: 50em;
    max-height: calc(100vh - 4em);

    &__header {
      padding: calc(1.6rem * 1.25);  // Equal to 1.25em with normal font size.
      font-size: 1.25em;
      font-weight: 700;
      color: #f1f1f1;
    }

    &__body {
      padding: 0 1.25em;
      color: #f1f1f1;
    }

    &__footer {
      padding: 0.8em 1.25em;
      text-align: right;
      color: #f1f1f1;
    }

    button {
      padding: 0.6em 1em;
      border: 2px solid #000000;
      outline: none;
      background-color: #f1f1f1;
      color: #000000;

      &:hover {
        background-color: #007acc;
      }

      &:disabled {
        cursor: not-allowed !important;
        background-color: #808080 !important;
        color: #000000 !important;
      }
    }

    input, textarea {
      border: 2px solid #000000;
      border-radius: none;
      outline: none;
      background-color: #f1f1f1;
    }
  }
}
